<header id="header">
  <div class="top">
    <!-- Logo -->
    <div id="logo">
      <span class="image avatar48"><img src="{{ '/images/avatar.jpg' | prepend: site.baseurl }}" alt="" /></span>
      <h1 id="title">ISO-8</h1>
      <p>Marvel Future Fight<br/>Resource Website</p>
    </div>
    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li><a href="{{ '/' | prepend: site.baseurl }}"><span class="icon fa-home">Home</span></a></li>
        <li><a href="{{ '/teambuilder' | prepend: site.baseurl }}"><span class="icon fa-th">Team Builder</span></a></li>
        <li><a href="{{ '/blog' | prepend: site.baseurl }}"><span class="icon fa-rss">Blog Archive</span></a></li>
      </ul>
    </nav>
  </div>
  <div class="bottom">
    <!-- Social Icons -->
    <ul class="icons">
      <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
      <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
      <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
    </ul>
  </div>
</header>
