<header id="header">
  <div class="top">
    <!-- Logo -->
    <div id="logo">
      <span class="image avatar48"><img src="{{ '/images/avatar.jpg' | prepend: site.baseurl }}" alt="" /></span>
      <h1 id="title">ISO-8</h1>
      <p>Marvel Future Fight<br/>Resource Website</p>
    </div>
    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li><a href="{{ '/' | prepend: site.baseurl }}"><span class="icon fa-home">Home</span></a></li>
        <li><a href="{{ '/teambuilder' | prepend: site.baseurl }}"><span class="icon fa-th">Team Builder</span></a></li>
        <li><a href="{{ '/blog' | prepend: site.baseurl }}"><span class="icon fa-rss">Blog Archive</span></a></li>
      </ul>
    </nav>
  </div>
  <div class="bottom">
    <!-- Social Icons -->
    <ul class="icons">
          <li><a href="https://play.google.com/store/apps/details?id=com.netmarble.mherosgb&hl=en" 
                 class="icon fa-android"><span class="label">Android Play Store</span></a></li>
          <li><a href="https://itunes.apple.com/au/app/marvel-future-fight/id955705796?mt=8" 
                 class="icon fa-apple"><span class="label">Apple App Store</span></a></li>
          <li><a href="https://www.reddit.com/r/FutureFight" 
                 class="icon fa-reddit"><span class="label">MFF Subreddit</span></a></li>
          <li><a href="https://github.com/GaiusCoffee/iso-8" 
                 class="icon fa-github"><span class="label">Github</span></a></li>
          <li><a href="https://github.com/GaiusCoffee/iso-8/issues" 
                 class="icon fa-envelope"><span class="label">Contact</span></a></li>
    </ul>
  </div>
</header>
